/* .... INDEX STYLING .... */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

html {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Rubik', sans-serif !important;
}

body {
  margin: 0;
  background-color: black;
  font-family: 'Rubik', sans-serif !important;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;

}

/* .... MAIN SECTION STYLING .... */

.main {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.title h1,
.title p {
  text-align: center;
  color: white;
  opacity: 0.8;
}

.title span {
  display: inline-block;
  position: relative;
  line-height: 0.4;
}

.title span:before,
.title span:after {
  content: "";
  position: absolute;
  height: 0.1em;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  width: 5em;
  right: 100%;
  margin-right: 0.5em;
}

.title span:after {
  left: 100%;
  margin-left: 0.5em;
}

.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.video-container video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%;
  min-height: 100%;

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* .... ABOUT ME STYLING .... */

.AboutMe {
  border-radius: 26em 10em 26em;
  width: 60vw;
  padding: 2em;
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
  color: black;
  opacity: 0.95;
  margin: 0 auto;
}

body>div.AboutMe>h3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  align-content: center;
  margin: 0;
}

.AboutMe h3 {

  font-size: 3em;
  text-align: center;
  font-family: 'Reenie Beanie', cursive;
}

.AboutMe p {
  padding: 0em 3em 3em 3em;
  font-size: 1em;
}

.AboutMe img,
#education img,
#skills img {
  padding: 1em;
  display: block;
  margin: 0 auto;
  max-width: 100vw;
  height: auto;
}



.btn {
  cursor: pointer;
  position: relative;
  transition: all 1s;

  &:after,
  &:before {
    content: " ";
    width: 0.5em;
    height: 0.5em;
    position: absolute;
    border: 0px solid #fff;
    transition: all 1s;
  }

  &:after {
    top: -0.6em;
    left: 0em;
    border-top: 0.2em solid black;
    border-left: 0.2em solid black;
  }

  &:before {
    bottom: -0.4em;
    right: 0em;
    border-bottom: 0.2em solid black;
    border-right: 0.2em solid black;
  }

  &:hover {
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;

    &:before,
    &:after {

      width: 70%;
      height: 70%;
    }
  }
}

/* .... SECTIONS HEADER STYLING .... */

.section-header {
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
  margin-top: 3em;
  margin-bottom: 3em;
  padding: 1em 0em 1em 0em;
  text-align: center;
}

.section-header a {
  font-weight: lighter;
  transition: 0.5s;
  color: black;
  font-size: x-large;
  text-decoration: none;
  text-align: center;
  padding: 0 1em;
  margin: 0 2em;
}


/* .... SHARED SECTIONS STYLING .... */

#work-experiance,
#education,
#skills {
  margin-right: 2em;
  margin-left: 2em;
  border-radius: 2em;

}


#work-experiance h1,
#education h1,
#slider h1,
#skills h1 {
  font-family: 'Reenie Beanie', cursive;
  font-size: 3em;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 8px;
  padding-top: 1em;
  margin: 0 auto;
  padding: 0;
}

#education ul,
#skills ul {

  margin-right: 12em;
  padding-bottom: 1em;
  font-weight: bold;

  margin: 0;
  padding-right: 2em;

}

/* .... WORK EXPERIENCE STYLING .... */

#work-experiance {
  background-color: #E5E1DA;
  padding-bottom: 2em;
}

.column1 {
  float: left;
  width: 15%;
  padding-top: 2em;
}

.column1 img,
.column1 iconify-icon {
  margin-left: 12em;

}

.column2 {
  float: right;
  width: 75%;
  padding-top: 2em;
}

#job-summary {
  color: rgb(0, 0, 0);
  font-size: larger;
  margin-left: 2em;
}

#job-description {
  color: rgb(0, 0, 0);
  margin-left: 2em;
}

.button {
  padding: 0.5em;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: rgb(222, 210, 210);
  color: rgb(100, 123, 200);
  cursor: pointer;
  border: 2px solid;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  display: block;
  width: fit-content;
  margin-right: 4em;
  width: 80%;
}

.button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

.column2 ul {
  margin-right: 12em;
  padding-bottom: 1em;
  font-weight: bold;

  margin: 0;
  padding-right: 2em;
}

/* .... EDUCATION STYLING .... */


#education::after {
  content: "";
  display: table;
  clear: both;
}

#education {
  margin: 2em;
  background-color: #ffffff;
  opacity: 1;
  background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #ffffff 6px), repeating-linear-gradient(#b3b1af55, #b3b1af);
  opacity: 0.8;
  text-align: center;

}

#education p {
  font-size: large;
  font-weight: bolder;

}

/* .... SLIDING PROJECTS STYLING .... */

#slider ul {
  margin-right: 12em;
  padding-bottom: 1em;
  font-weight: bold;
  margin: 0;
  padding-right: 2em;
}

#slider img,
#slider video,
#slider a {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

#slider {
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  margin: 2em;

}

.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.slides::-webkit-scrollbar-thumb {
  background: rgb(89, 19, 122);
}

.slides::-webkit-scrollbar-track {
  background: transparent;
}

.slides>div {
  background-color: white;
  padding-left: 5em;
  padding-bottom: 2em;
  padding-top: 2em;
  border-radius: 2em;
  margin-right: 2em;
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 60%;
  height: fit-content;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;

}

#slide-6 {
  margin-right: 0;
}

#slider>a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
}

#slider>a:active {
  top: 1px;
}

#slider>a:focus {
  background: #000;
}


/* .... SKILLS STYLING .... */

#skills {
  margin-top: 2em;
  margin-bottom: 8em;
  background-color: rgb(194, 224, 255);
  border-bottom-left-radius: 60em 20em;
  border-bottom-right-radius: 60em 20em;
}

.all-sections {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.all-sections::after {
  content: "";
  display: table;
  clear: both;
}

.section {
  border-radius: 1em;
  background-color: white;
  margin: 1em;
  padding: 1em;
  float: left;
  width: 30%;
}

/* .... FOOTER STYLING .... */

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  z-index: 20;
}

.contact-me {
  width: 50%;
  border-radius: 4em 0.5em 4em;
  background-color: black;
  margin: 3em auto;
  line-height: 4em;
  text-decoration: none;
  text-align: center;

}

.horizontal-line {
  border-top: 1px solid #9E9E9E;
  border-bottom: 1px solid #9E9E9E;
}

.contact-me a {
  padding: 1.5em;
  color: white;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
}

.contact-me a:hover {
  color: rgb(117, 92, 246);
  font-weight: bolder;
}

/******************************************************************************MOBILE DEVICES STYLING******************************************************************/


@media all and (min-width:1140px) {

  .hamburger-menu,
  .mobile-footer {
    display: none;
  }

}

@media all and (max-width:1140px) {
  body {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  html {
    margin: 0 auto;
    padding: 0;
  }

  footer,
  .title span:before,
  .title span:after,
  .section-header {
    display: none;
  }

  /*******MOBILE MENU STYLING********/



  /***MAIN STYLING***/

  .main {
    height: 100vh;
  }

  .AboutMe {
    margin: 0;
    border-radius: 0;
    width: 100%;
    padding: 0;

  }

  #work-experiance {
    margin: 0;
    border-radius: 0;
    margin-top: 2em;
    border-top-left-radius: 0% 0%;
    border-top-right-radius: 0% 0%;
    border-radius: 0;

  }

  .column1,
  .column2 {
    float: none;
    width: 100%;
    padding: 0;
  }

  .column1 img {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10em;
    padding-bottom: 2em;
  }

  #education,
  #work-experiance {
    margin: 1em;
    margin-top: 2em;
    border-radius: 1em;

  }

  #side {
    width: 100% !important;
    float: none !important;
  }

  .slides>div {
    width: 95%;
    padding: 0.5em;
    padding-bottom: 2em;
    margin-right: 0.75em;
  }

  #slider img,
  #slide-6>video,
  .button {
    width: 80%;
  }

  #skills {
    margin: 0;
    margin-top: 2em;
    margin-bottom: 6em;
    border-radius: 0;
    padding-left: 0;
    border-bottom-left-radius: 60em 20em;
    border-bottom-right-radius: 60em 20em;

  }

  .all-sections {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .section {
    width: 85vw;
  }

  footer {
    position: relative;
  }

  .contact-me {
    display: inline-grid;
    width: 100%;
    background-color: black;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    margin: 0;
  }

  .contact-me a {
    padding: 0;
  }


  /*** Styling for the hamburger menu ***/

  #menu__toggle {
    display: none;
  }

  #menu__toggle:checked+.menu__btn>span {
    transform: rotate(45deg);
  }

  #menu__toggle:checked+.menu__btn>span::before {
    top: 0;
    transform: rotate(0deg);
  }

  #menu__toggle:checked+.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menu__toggle:checked~.menu__box {
    left: 0 !important;
  }

  .menu__btn {
    position: fixed;
    top: 30px;
    left: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 2;
  }

  .menu__btn>span,
  .menu__btn>span::before,
  .menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: plum;
    transition-duration: .25s;
  }

  .menu__btn>span::before {
    content: '';
    top: -8px;
  }

  .menu__btn>span::after {
    content: '';
    top: 8px;
  }

  .menu__box {
    z-index: 1;
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    padding-right: 0.5em;
    list-style: none;
    background-color: #6b99b2;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
    text-align: left;

  }

  .menu__box li {
    text-decoration: none;
    padding-left: 1em;
    padding-bottom: 0.5em;
    font-weight: bolder;
    font-size: 2.5em;
    font-family: 'Reenie Beanie', cursive;
  }

  a:-webkit-any-link {
    color: black;
    text-decoration: none;
  }

  .mobile-footer {
    background-color: #000;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .mobile-footer a {
    padding: 1em;
  }

}