/*.... INDEX STYLING....*/

html{
  background-color: black;
  overflow-X: hidden;
  scroll-behavior: smooth;
}

.Top{
position: relative;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}

.inner h1 {
  line-height: 0.4;
  text-align: center;

  text-align: center;
  font-size: 3rem;
  color: white;
  opacity: 0.8;
  font-family: 'Cinzel', serif;
  vertical-align: middle;
  z-index: 1;
}

.inner span, #education span, #work span, #projects span, #skills span {
  display: inline-block;
  position: relative;
  line-height: 0.4;
  
}
.inner span:before, .inner span:after{
  content: "";
  position: absolute;
  height: 3px;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  top: 100;
  width: 100%;
}

#education span:before, #work span:before, #projects span:before, #skills span:before
, #education span:after, #work span:after, #projects span:after, #skills span:after {
  content: "";
  position: absolute;
  height: 3px;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  top: 100;
  width:230px;
}

  .inner span:before, #education span:before, #work span:before, #projects span:before, #skills span:before {
  right: 100%;
  margin-right: 10%;
}

  .inner span:after, #education span:after, #work span:after, #projects span:after, #skills span:after {
  left: 100%;
  margin-left: 10%;
}

.inner p {
  line-height: 0.4;
  text-align: center;

  text-align: center;
  font-size: 1rem;
  font-weight: 20;
  color: white;
  opacity: 0.8;
  font-family: 'Mulish', sans-serif;
  vertical-align: middle;
  z-index: 1;
}

.video-container {
  width: 235vh;
  position: fixed;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: -1;
}
  
.color-overlay{
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0.2;
}

.Middle{

  border-radius: 400px 200px 400px;
  width:55%;
  height: 45%;
  padding: 2%;
  background:rgb(70, 70, 70);
  opacity: 0.95;
  margin: 0 auto;
}


.Middle h3{
  color: white;
  font-size: 40px;
  text-align: center;
  font-family: 'Sacramento', cursive;
  opacity: 0.8;
}

.Middle p{
  padding-left: 15%;
  padding-right: 15%;
  color: white;
  font-size: 15px;
  font-family: 'Mulish', sans-serif;
  opacity: 0.8;
}

.Middle img, #education img, #work img, #projects img, #skills img{
  padding: 1%;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

/*....... FOOTER STYLING.....*/


footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}


.contact-me{
  position: center;
  width: 50%;
  height: 20%;
   
  background-color: black;
  border-radius: 80px 10px 80px;
  font-size: 15px;
  text-align: center;
  font-family: 'Mulish', sans-serif;
  top: auto;
  right:auto;
  margin: 1.5% auto;
  line-height: auto;
  padding: 2%;
}


#projects a, #work a{

  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  font-family: 'Mulish', sans-serif;
  color: #494949 !important;
  text-decoration: none;
  background: #ffffff;
  padding: 15px;
  border: 4px solid #494949 !important;
  border-radius: 20px;
  transition: all 0.5s ease 0s;
}

.contact-me a{      
  color: white;
  font-weight: bolder;
  font-family: 'Mulish', sans-serif;
  margin: 0 auto;

  font-size: 15px;
  cursor: pointer;
  text-align: center;
  padding: 2% 2%;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;   
}

.contact-me a:link, .hireme a:link, #projects a:link {
  text-decoration: none;
}

.contact-me a:visited, .hireme a:visited , #projects a:visited {
  text-decoration: none;
}

.contact-me a:hover {
  color:rgb(243, 34, 69);
  padding: 10%;
  max-width: 100%;
  font-weight: bolder;
}


#projects a:hover, #work a:hover{
color: #ffffff !important;
background: rgb(243, 34, 69);
border-color: rgb(243, 34, 69) !important;
transition: all 0.5s ease 0s;
}

/*....... SECTIONS STYLING.....*/

.section-header{
  padding-top:10vh;
  padding-bottom: 10vh;
  text-align: center;
}

.section-header a{
  font-family: 'Cinzel', serif;
  font-weight: lighter;
  transition: 0.5s;
  color: #ffffff;
  font-size: 150%;
  text-decoration: none;
  text-align: center;

  padding: 0% 2%;
  margin: 0% 4%;
}

.section-header a:hover {
  font-size: 150%;
  border-radius: 50% 10% 50%;
  font-weight: bolder;
  background-color: rgb(70, 70, 70);
  color: rgb(243, 34, 69);
  padding: 1% 2%;
  margin: 0% 10%;
}

#education{
  border-radius: 40px;
  padding: 2%;
  text-align: center;
  font-size: 3rem;
  color: white;
  opacity: 0.95;
  font-family: 'Cinzel', serif;
  height: auto;
  width: 85%;
  margin: 2% auto;
  
  background:rgb(70, 70, 70);
}
#education ul{
  column-count: 2;
  padding: 2%;
  text-align: center;
  font-size: 15px;
  color: white;
  font-family: 'Mulish', sans-serif;
  vertical-align: middle;
}

#work{
  border-radius: 40px;
  padding: 2%;
  text-align: center;
  font-size: 3rem;
  color: white;
  opacity: 0.95;
  font-family: 'Cinzel', serif;
  height: auto;
  width: 85%;
  margin: 2% auto; 

  background:rgb(70, 70, 70);
}

#work ul{
  padding: 2%;
  text-align: center;
  font-size: 15px;
  text-align: left;
  color: white;
  font-family: 'Mulish', sans-serif;
  vertical-align: middle;
}

#projects{
  border-radius: 40px;
  padding: 2%;
  text-align: center;
  font-size: 3rem;
  color: white;
  opacity: 0.95;
  font-family: 'Cinzel', serif;
  height: auto;
  width: 85%;
  margin: 2% auto; 

  background:rgb(70, 70, 70);
}

#projects ul{ 
  padding: 2%;
  font-size: 15px;
  text-align: left;
  color: white;
  font-family: 'Mulish', sans-serif;
  vertical-align: middle;
}

#skills{
  border-radius: 40px;
  padding: 2%;
  text-align: center;
  font-size: 3rem;
  color: white;
  opacity: 0.95;
  font-family: 'Cinzel', serif;
  height: auto;
  width: 85%;
  margin: 2% auto; 

  background:rgb(70, 70, 70);
}
#skills ul{
  padding: 2%;
  text-align: center;
  font-size: 15px;
  text-align: left;
  color: white;
  font-family: 'Mulish', sans-serif;
  vertical-align: middle;
}

hr{
  margin-top: 2%;
  margin-bottom: 2%;
}

b{
  font-size: 18px;
}

#projects video{
margin-left:38%;
}
